.git/
.idea
*.log

/commerce-order-services/target
/microservice/target

/commerce-order-services/*.iml
/microservice/*.iml
/*.iml
.scannerwork
*.iml


build/
*/build/
.gradle/
.idea/
out/
docs/
.mvn/


#.classpath
#.project

**/*.class

#e2e test
node_modules
application-server.log

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gradle
build
target
*.project
*.classpath
*.settings
.factorypath
bin
.toDelete
**/output/
*_report.html
jmeter.log
*.DS_Store
nohup.out
*.jtl
*.swp
logs